name: "Format, Lint, Test, and Coverage"

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          # Install a specific version of uv.
          enable-cache: true
          version: "0.6.14"

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
            python-version: '3.10' 
      
      - name: Lint check 
        run: uv run ruff check

      - name: Format check
        run: uv run ruff format . --check
          
      - name: Type check
        run: uv run mypy .

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          # Install a specific version of uv.
          enable-cache: true
          version: "0.6.14"

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
            python-version: '3.10' 
          
      - name: Run tests
        run: uv run coverage run -m pytest tests
      - name: Generate coverage report
        run: uv run coverage report
      - name: Store coverage HTML
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html
          path: htmlcov